* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
}

#header {
  background-color: #979696;
  padding-top: 5%;
  height: 10%;
}

.menu-hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5%;
  z-index: 1001;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #FEB712;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.headerlogo img{
  width: 160px;
}

.nav {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav a {
  display: flex;
  flex-direction: column;
  background-color: #FEB712;
  width: 100%;
  padding: 14px;
  justify-content: center;
  align-items: center;
  color: #002C5E;
}

a {
  text-decoration: none;
}

.pagina-home .link-home {
  text-decoration: underline;
}

.pagina-sobre .link-sobre {
  text-decoration: underline;
}

.pagina-times .link-times {
  text-decoration: underline;
}

.pagina-contato .link-contato {
  text-decoration: underline;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./Imagens/fundotelaHome.png);
  padding: 86px;
}

.section2 {
  padding: 70px;
  background-color: rgba(0, 44, 94, 0.5);
}

.conteudohome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.textoconteudo {
  color: white;
  line-height: 1.3;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border: black solid 1px;
  padding: 20px;
  height: 10%;
}

.imglogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ibmeclogo {
  margin-right: 20px;
}

.imgredesociais {
  display: flex;
  gap: 15px;
}

.nav.active {
  display: flex;
}

@media (min-width: 481px) {
  #header {
    padding: 0.5%;
  }

  .menu-hamburguer {
      display: none;
  }

  .header {
      flex-direction: row;
      justify-content: space-between;
  }

  .headerlogo img{
      width: 120px;
  }

  .nav {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: center;
      margin-right: 20px;
  }

  .nav a {
      border-radius: 23px;
      padding-left: 30px;
      padding-right: 30px;
  }

  .conteudohome {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
      align-items: center;
  }

  .pagina-times .conteudohome {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      justify-items: center;
      gap: 30px;
  }
  .conteudohome > div:nth-child(5) {
      grid-column: 2;
  }
  
  .conteudohome > div:nth-child(6) {
      grid-column: 3;
  }

  .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: black solid 1px;
      padding: 20px;
  }
}